/* src/styles.css */
body {
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgb(207, 199, 201) 35%, rgb(166, 217, 228) 100%, rgb(158, 158, 192) 100%);
    /* background: rgb(0,212,255);
    background: linear-gradient(331deg, rgba(0,212,255,1) 18%, rgba(255,0,48,1) 84%, rgba(4,4,246,1) 100%); */
}
